@import "./base.css";

@font-face {
  font-family: 'Simplicity';
  src: url('./fonts/Simplicity.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}


#app {
  width: 100%;
  height: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: normal;
}

.title_image {
  filter: drop-shadow(1px 1px 1px rgb(0 0 0 / 0.4));
}

.info-form {
  position: relative;
  top: -1.5em;
  display: flex;
  flex-direction: column;
  align-items: left;
  z-index: 99;
}

.form-group-names {
  margin-bottom: 0.01rem;
}

.form-group-rows {
  margin-bottom: 0.01rem;
}

.form-group label {
  display: block;
  font-family: 'Simplicity';
  font-weight: bold;
  font-size: 1rem;
  color: #339D92;
  letter-spacing: .1rem;
}

.form-group input {
  width: 100%;
  padding: 0.2rem;
  border: none;
  outline: none;
  border-bottom: 2px solid #339D92;
  background: transparent;
}

.item-container {
  display: flex;
  flex-direction: row;
  column-gap: 0.25em;
  align-items: center;
  padding: 0.25em;
}

.candy-image {
  background-repeat: no-repeat;
  background-size: contain;
  width: 2.8125rem;
  height: 2.8125rem;
  background-size: cover;
  background-position: center;
}

.disabled {
  pointer-events: none;
  opacity: 0.5;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.text-message-container {
  display: grid;
  gap: 0.5em;
}

.modal-content {
  position: absolute;
  display: flex;
  gap: 10px;
  flex-direction: column;
  background-color: transparent;
  background-image: url('/svgs/Modal_Content.svg');
  background-position: center center;
  background-size: contain;
  background-repeat: no-repeat;
  width: 100%;
  height: 55%;
  justify-content: center;
  align-items: center;
  filter: drop-shadow(1px 1px 1px rgb(0 0 0 / 0.4));
}

.message-overlay {
  position: absolute;
  top: 115%;
  display: flex;
  flex-direction: column;
  background-color: transparent;
  background-image: url('/svgs/Message_Ribbon.svg');
  background-position: center center;
  background-size: contain;
  background-repeat: no-repeat;
  width: 30%;
  height: 15%;
  justify-content: center;
  align-items: center;
  filter: drop-shadow(1px 1px 1px rgb(0 0 0 / 0.4));
}

.name-overlay {
  position: absolute;
  top: 100%;
  display: flex;
  flex-direction: column;
  background-color: transparent;
  background-image: url('/svgs/Name_Ribbon.svg');
  background-position: center center;
  background-size: contain;
  background-repeat: no-repeat;
  width: 30%;
  height: 15%;
  justify-content: center;
  align-items: center;
  filter: drop-shadow(1px 1px 1px rgb(0 0 0 / 0.4));
}

.overlay-content {
  position: relative;
  max-width: 80%;
  min-width: 300px;
  top: -3.5em;
  display: flex;
  flex-direction: column;
  z-index: 99;
}

.auth_login {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 1000;
}

.btn-holder {
  user-select: none;
  display: flex;
  position: relative;
  flex-direction: column;
  z-index: 2;
  width: 10em;
}

.ile-holder {
  display: flex;
  flex-direction: row;
}

.knot-info {
  display: flex;
  flex-direction: row;
  margin-top: 10px;
  font-size: 14px;
  color: #333;
}

.left-arrow-btn {
  display: flex;
  width: 50px;
  height: 35px;
  background-color: transparent;
  background-image: url('/svgs/Left_Arrow.svg');
  background-size: contain;
  background-repeat: no-repeat;
  border: none;
  margin-top: 5%;
  margin-right: 25%;
  cursor: pointer;
  filter: drop-shadow(1px 1px 1px rgb(0 0 0 / 0.4));
}

.left-arrow-btn:active {
  background-image: url('/svgs/Left_Arrow_Click.svg');
}

.left-arrow-btn:hover, .right-arrow-btn:hover {
  filter: drop-shadow(1px 1px 1px rgba(255, 255, 255, 1));
}

.material-btn_container {
  display: flex;
  flex-direction: row;
}

.material-btn{
  margin: 0.45em 0.45em 0em 0.5em;
  width: 30px;
  height: 50px;
  background-color: transparent;
  background-size: contain;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
}

.material-btn:disabled{
  opacity: 0;
}

.right-arrow-btn {
  display: flex;
  width: 50px;
  height: 35px;
  background-color: transparent;
  background-image: url('/svgs/Right_Arrow.svg');
  background-size: contain;
  background-repeat: no-repeat;
  border: none;
  margin-top: 5%;
  margin-left: 25%;
  cursor: pointer;
  filter: drop-shadow(1px 1px 1px rgb(0 0 0 / 0.4));
}

.right-arrow-btn:active {
  background-image: url('/svgs/Right_Arrow_Click.svg');
}

.left-arrow-btn:disabled, .right-arrow-btn:disabled {
  opacity: 0.5;
}

.radio-parent {
  padding-top: 0.1em;
}

.radio-btn {
  opacity: 0;
  width: 0;
  height: 0;
  position: absolute;
}

.radio-label {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.1em 0em 0.1em 0em;
  width: 165px;
  height: 2em;
  background-image: url('/svgs/Ribbon_Label.svg');
  background-size: contain;
  background-repeat: no-repeat;
  text-align: center;
  line-height: 50px;
  cursor: pointer;
  font-family: 'Simplicity';
  font-size: 1.35em;
  font-weight: bold;
  color: #66c7c7;
  letter-spacing: 0.08rem;
  filter: drop-shadow(1px 1px 1px rgb(0 0 0 / 0.4));
}

.radio-btn:checked + .radio-label {
  background-image: url('/svgs/Ribbon_Label_Click.svg');
  color: white;
  filter: drop-shadow(1px 1px 1px rgb(0 0 0 / 0.4));
}

.radio-label:hover {
  filter: drop-shadow(1px 1px 1px rgba(255, 255, 255, 1));
}

.radio-btn:disabled + .radio-label {
  opacity: 0.5;
}

.name-field {
  display: flex;
  width: 100%;
  background: transparent;
  border-radius: 2rem;
  border-color: white;
  outline: none;
  color: #339D92;
}

.close-btn {
  position: relative;
  left: -8%;
  top: 10%;
  width: 3.125em;
  height: 3.125em;
  background-color: transparent;
  background-image: url('/svgs/Close_Button.svg');
  background-size: contain;
  border: none;
  cursor: pointer;
  filter: drop-shadow(1px 1px 1px rgb(0 0 0 / 0.4));
}

.close-btn:active {
  background-image: url('/svgs/Close_Button_Click.svg');
}

.back-btn {
  position: relative;
  left: -8rem;
  top: 3%;
  width: 3.125em;
  height: 3.125em;
  background-color: transparent;
  background-image: url('/svgs/Back_Button.svg');
  background-size: contain;
  border: none;
  cursor: pointer;
  filter: drop-shadow(1px 1px 1px rgb(0 0 0 / 0.4));
}

.back-btn:active {
  background-image: url('/svgs/Back_Button_Click.svg');
}

.back-btn:hover {
  filter: drop-shadow(1px 1px 1px rgba(255, 255, 255, 1));
}

.pay-btn {
  position: relative;
  left: 8.5rem;
  top: 3%;
  width: 3.125em;
  height: 3.125em;
  background-color: transparent;
  background-image: url('/svgs/Pay_Button.svg');
  background-size: contain;
  border: none;
  cursor: pointer;
  filter: drop-shadow(1px 1px 1px rgb(0 0 0 / 0.4));
}

.pay-btn:active {
  background-image: url('/svgs/Pay_Button_Click.svg');
}

.pay-btn:hover {
  filter: drop-shadow(1px 1px 1px rgba(255, 255, 255, 1));
}

.send-btn {
  position: relative;
  left: 80%;
  top: 80%;
  width: 3.125em;
  height: 3.125em;
  background-color: transparent;
  background-image: url('/svgs/Send_Button.svg');
  background-size: contain;
  border: none;
  cursor: pointer;
  filter: drop-shadow(1px 1px 1px rgb(0 0 0 / 0.4));
}

.send-btn:active {
  background-image: url('/svgs/Send_Button_Click.svg');
}

.close-btn:hover {
  filter: drop-shadow(1px 1px 1px rgba(255, 255, 255, 1));
}

.cart-title {
  padding-top: 0.5em;
  text-align: center;
  font-family: "Simplicity";
  font-size: 2.5em;
  color:#66c7c7;
  font-weight: bold;
  margin: 0;
}

.cart-btn {
  display: flex;
  margin: 0.25em 0.25em 0em 0em;
  width: 50px;
  height: 50px;
  background-color: transparent;
  background-image: url('/svgs/Cart_Button.svg');
  background-size: contain;
  border: none;
  cursor: pointer;
  filter: drop-shadow(1px 1px 1px rgb(0 0 0 / 0.4));
}

.cart-btn:active {
  background-image: url('/svgs/Cart_Button_Click.svg');
}

.cart-btn:hover {
  filter: drop-shadow(1px 1px 1px rgba(255, 255, 255, 1));
}

.cart-btn:disabled {
  opacity: 0;
}

.item-info {
  color: #339D92;
  font-family: 'Simplicity';
  font-size: 1.25em;
  font-weight: bold;
}

.label-text {
  display: flex;
  color: #339D92;
  font-family: 'Simplicity';
  font-size: 1.5em;
  font-weight: bold;
}

.name-message-text {
  display: flex;
  color: #ffffff;
  font-family: 'Simplicity';
  font-size: 1.5em;
  font-weight: bold;
}

.reset-btn {
  display: flex;
  margin: 0.25em 0.25em 0em 0.25em;
  width: 50px;
  height: 50px;
  background-color: transparent;
  background-image: url('/svgs/Reset_Button.svg');
  background-size: contain;
  border: none;
  cursor: pointer;
}

.reset-btn:active {
  background-image: url('/svgs/Reset_Button_Click.svg');
}

.reset-btn:disabled {
  opacity: 0;
}

.reset-btn:hover {
  filter: drop-shadow(1px 1px 1px rgba(255, 255, 255, 1));
}

.round-buttons {
  padding-top: 2%;
  display: flex;
  justify-content: left;
}

.switch {
  position: relative;
  display: inline-block;
  width: 100px;
  height: 34px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #d7a6b4;
  -webkit-transition: .4s;
  transition: .4s;
  z-index: 2;
}

.slider:before {
  position: absolute;
  content: "";
  height: 20px;
  width: 20px;
  left: 2px;
  bottom: 7px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
  z-index: 3;
}

.slider.on {
  background-color: #cccccc;
}

.slider.on:before {
  -webkit-transform: translateX(74px);
  -ms-transform: translateX(74px);
  transform: translateX(74px);
}

.slider.round {
  border-radius: 25px;
}

.slider.round:before {
  border-radius: 50%;
}

.slider-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 16px;
  font-weight: bold;
  font-family: "Simplicity";
  color: white;
  z-index: 1;
}

.slider.on .slider-text {
  color: #d7a6b4;
}

/* @media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}

@media (min-width: 1024px) {
  body {
    display: flex;
    place-items: center;
  }

  #app {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0 2rem;
  }
} */
