@import "./base.css";

@font-face {
  font-family: 'Simplicity';
  src: url('./fonts/Simplicity.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}


#app {
  width: 100%;
  height: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: normal;
}

/* .modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.modal-content {
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  max-width: 80%;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
} */

.auth_login {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.7); /* Semi-transparent black */
  z-index: 1000; /* Ensure it's above other elements */
}

.btn-holder {
  user-select: none;
  display: flex;
  position: relative;
  flex-direction: column;
  z-index: 2;
  width: 10em;
}

.ile-holder {
  display: flex;
  flex-direction: row;
}

.left-arrow-btn {
  display: flex;
  width: 50px; /* Set the width to the width of your SVG */
  height: 35px; /* Set the height to the height of your SVG */
  background-color: transparent;
  background-image: url('/svgs/Left_Arrow.svg'); /* Adjust path as necessary */
  background-size: contain; /* Or 'cover' or specific dimensions */
  background-repeat: no-repeat;
  border: none;
  margin-top: 5%;
  margin-right: 25%;
  cursor: pointer; /* Change cursor to pointer to indicate it's clickable */
}

.left-arrow-btn:active {
  background-image: url('/svgs/Left_Arrow_Click.svg');
}

.left-arrow-btn:disabled {
  opacity: 0;
}

.right-arrow-btn {
  display: flex;
  width: 50px; /* Set the width to the width of your SVG */
  height: 35px; /* Set the height to the height of your SVG */
  background-color: transparent;
  background-image: url('/svgs/Right_Arrow.svg'); /* Adjust path as necessary */
  background-size: contain; /* Or 'cover' or specific dimensions */
  background-repeat: no-repeat;
  border: none;
  margin-top: 5%;
  margin-left: 25%;
  cursor: pointer; /* Change cursor to pointer to indicate it's clickable */
}

.right-arrow-btn:active {
  background-image: url('/svgs/Right_Arrow_Click.svg');
}

.right-arrow-btn:disabled {
  opacity: 0;
}

.radio-parent {
  padding-top: 0.1em;
}

.radio-btn {
  opacity: 0;
  width: 0;
  height: 0;
  position: absolute;
}

.radio-label {
  display: flex; /* Use flexbox to align children */
  align-items: center; /* Center children vertically */
  justify-content: center; /* Center children horizontally */
  padding: 0.1em 0em 0.1em 0em;
  width: 150px; /* Adjust as needed to match SVG size */
  height: 2em; /* Adjust as needed to match SVG size */
  background-image: url('../../public/svgs/Ribbon_Label.svg');
  background-size: contain;
  background-repeat: no-repeat;
  text-align: center;
  line-height: 50px; /* Align text vertically, adjust to match label height */
  cursor: pointer;
  font-family: 'Simplicity';
  font-size: 1.35em;
  font-weight: bold;
  color: #66c7c7; /* Adjust text color as needed */
}

/* Adjust label styles when the radio is checked */
.radio-btn:checked + .radio-label {
  /* Style changes for when the radio button is checked */
  background-image: url('../../public/svgs/Ribbon_Label_Click.svg');
  color: white;
}

.name-field {
  display: flex;
  width: 100%;
  background: transparent;
  border-radius: 2rem;
  border-color: white;
  outline: none;
  color: white;
}


.cart-btn {
  display: flex;
  width: 50px; /* Set the width to the width of your SVG */
  height: 50px; /* Set the height to the height of your SVG */
  background-color: transparent;
  background-image: url('/svgs/Cart_Button.svg'); /* Adjust path as necessary */
  background-size: contain; /* Or 'cover' or specific dimensions */
  border: none;
  cursor: pointer; /* Change cursor to pointer to indicate it's clickable */
}

.cart-btn:active {
  background-image: url('/svgs/Cart_Button_Click.svg');
}

.cart-btn:disabled {
  opacity: 0;
}

.label-text {
  display: flex;
  color: white;
  font-family: 'Simplicity';
  font-size: 1.5em;
  font-weight: bold;
}

.reset-btn {
  display: flex;
  width: 50px; /* Set the width to the width of your SVG */
  height: 50px; /* Set the height to the height of your SVG */
  background-color: transparent;
  background-image: url('/svgs/Reset_Button.svg'); /* Adjust path as necessary */
  background-size: contain; /* Or 'cover' or specific dimensions */
  border: none;
  cursor: pointer; /* Change cursor to pointer to indicate it's clickable */
}

.reset-btn:active {
  background-image: url('/svgs/Reset_Button_Click.svg');
}

.reset-btn:disabled {
  opacity: 0;
}

.switch {
  position: relative;
  display: inline-block;
  width: 100px;
  height: 34px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #d7a6b4;
  -webkit-transition: .4s;
  transition: .4s;
  z-index: 2;
}

.slider:before {
  position: absolute;
  content: "";
  height: 20px;
  width: 20px;
  left: 2px;
  bottom: 7px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
  z-index: 3;
}

.slider.on {
  background-color: #cccccc;
}

.slider.on:before {
  -webkit-transform: translateX(74px);
  -ms-transform: translateX(74px);
  transform: translateX(74px);
}

.slider.round {
  border-radius: 25px;
}

.slider.round:before {
  border-radius: 50%;
}

.slider-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 16px;
  font-weight: bold;
  font-family: "Simplicity";
  color: white;
  z-index: 1;
}

/* Adjust the color for better visibility when the switch is on */
.slider.on .slider-text {
  color: #d7a6b4;
}

/* @media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}

@media (min-width: 1024px) {
  body {
    display: flex;
    place-items: center;
  }

  #app {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0 2rem;
  }
} */
